.container_pro{
    width: 100%;
    
    
    
    h1{
        color: black;
  
    }
    .roby{
        position: absolute;
        width: 410px;
        height: 234px;
        left: calc(50% - 410px/2);
        top: 59px;
        z-index: 2;
    }
    .first{
        width: 620px;
        position: absolute;
        height: 654px;
        right: 55%;
        top: 209px;
        z-index: 1;
       
    }
    .email{
        color: black;
        position: absolute;
        height: 20px;
        left: 169px;
        top: 41px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 20px;
    }
    .text_product{
        
        position: absolute;
        height: 60px;
        
        right: 4.59%;
        top: 288px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 60px;
        text-transform: uppercase;
    }
    .text_P{
        position: absolute;
    
        
        right: 2.2%;
        top: 339px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
       
        letter-spacing: 6px;
        
    }
    .text_product1{
        width: 622px;
        position: absolute;
        right: 5.7%;
        top: 416px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
       
        
    }
    
    .work_us{
        position: absolute;
        width: 138px;
        height: 138px;
        
        background: #000000;
        border-radius: 69px;
        left: 768px;
        top: 709px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        border: 1px solid black;
        text-align: center;
        letter-spacing: 1px;
        padding: 10px;
        color: white;
        cursor: pointer;
    }
    .work_us:hover{
        background-color: white;
        color: #000000;
    }
}

