.container_pro_two{
    width: 100%;
   display: flex;
    .we_part{
        position: absolute;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 27px;
        margin-left: 203px;
        top: 949px;
        color: black;
        span{
            font-size: 22px;
        }
    }
   
    .perfect{
        position: absolute;
        
        top: 1241px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        
    }
    .agency{
        position: absolute;
        height: 72px;
        
        top: 1315px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 54px;
       
    }
    .icon_two{
        position: absolute;
       margin-left: 50px;
        height: 94px;
       
       top: 1030px;
    }
    .part_one{
        width: 379px;
        height: 99px;
        position: absolute;
       
        top: 1419px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        color: #747474;
    }
    .part_two{
        width: 377px;
        height: 124px;
        position: absolute;
        
        top: 1539px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        color: #747474;
    }
    .text-cont{
        position: absolute;
        width: 300px;
        height: 200px;
        margin-left: 800px;
        top: 1474px;
        h5{
            word-spacing: 160px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            border-bottom: 1px solid black;
            padding: 0 0 20px;
            margin: 0 0 20px;
        }
        p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            color: #747474;
            .one{
                margin: 0 0 0 158px;
            }
            .two{
                margin: 0 0 0 140px;
            }
            .three{
                margin: 0 0 0 124px;
            }
            .four{
                margin: 0 0 0 144px;
            }

        }
    }
    .text-cont-one{
        position: absolute;
        width: 300px;
        height: 200px;
        margin-left: 800px;
        top: 1770px;
        h5{
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            border-bottom: 1px solid black;
            padding: 0 0 20px;
            margin: 0 0 20px;
            span{
                margin-left: 40px;
            }
        }
        p{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 25px;
            color: #747474;
            .one{
                margin: 0 0 0 130px;
            }
            .two{
                margin: 0 0 0 142px;
            }
            .three{
                margin: 0 0 0 78px;
            }
            .four{
                margin: 0 0 0 123px;
            }

        }
    }
}