.container_pro_five{
    width: 100%;
    img{
        position: absolute;
        height: 615px;
        left: 711px;
        top: 5667px;

         width: 729px
    }
    .box{
        position: absolute;
        height: 615px;
        left: 0;
        width: 712px;
        top: 5667px;
        background: #020A0C;
        color: white;
        h1{
        
            
           text-align: center;
            
            top: 90px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 60px;
            color: white;
            span{
                font-weight: 400;
                font-size: 42px;
                line-height: 72px;
            }
        }
        .design{
           margin: 79px 0 0 125px;
           border-bottom: 1px solid white;
           width: 400px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            
            span{
              margin: 0 0 0 236px;
            }
        }
        .lead{
            margin: 30px 0 0 125px;
           border-bottom: 1px solid white;
           width: 400px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            
            span{
              margin: 0 0 0 222px;
            }
        }
        .photo{
            margin: 30px 0 0 125px;
            border-bottom: 1px solid white;
            width: 400px;
             font-family: 'Roboto';
             font-style: normal;
             font-weight: 400;
             font-size: 15px;
             span{
                margin: 0 0 0 274px;
              }
        }
        .illus{
            margin: 30px 0 0 125px;
            border-bottom: 1px solid white;
            width: 400px;
             font-family: 'Roboto';
             font-style: normal;
             font-weight: 400;
             font-size: 15px;
             span{
                margin: 0 0 0 245px;
              }
        }
        .else{
           
            margin: 40px 0 0 125px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
        }
        
    }
    .fun{
        h1{position: absolute;
            top: 6362px;
            left: 604px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 48px;
            text-align: center;
            span{
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 37px;
            }
        }
        .one{
            img{
                width: 25px;
                height: 50px;
                position: absolute;
            left: 179px;
            top: 6527px;
            }
            h1{
                position: absolute;
                left: 222px;
                top: 6479px;
                color: #020A0C;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 53px;
            }
            p{
                position: absolute;
                left: 222px;
                top: 6559px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
            }
        }
        .two{
            img{
                width: 50px;
                height: 50px;
                position: absolute;
            left: 493px;
            top: 6527px;
            }
            h1{
                position: absolute;
                left: 547px;
                top: 6479px;
                color: #020A0C;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 53px;
            }
            p{
                position: absolute;
                left: 548px;
                top: 6559px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
            }
        }
        .three{
            h1{
                position: absolute;
                left: 850px;
                top: 6479px;
                color: #020A0C;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 53px;
            }
            p{
                position: absolute;
                left: 850px;
                top: 6559px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
            }
        }
        .four{
            img{
                width: 50px;
                height: 50px;
                position: absolute;
            left: 1115px;
            top: 6527px;
            }
            h1{
                position: absolute;
                left: 1165px;
                top: 6479px;
                color: #020A0C;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 700;
                font-size: 53px;
            }
            p{
                position: absolute;
                left: 1165px;
                top: 6559px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
            }
        }
    }

}