.container_pro_four{
   
    top: 4995px;
    position: relative;
    
    width: 100%;
    
    h1{
       
        
       
       margin-top: -200px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 60px;
        margin-bottom: 100px;
    margin-left: 300px;
        span{
            font-weight: 400;
            font-size: 42px;
        }
    }
    
    .box-one{
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #000000;
        border-radius: 20px;
        
       
      
        p{
          
            width: 362px;
            height: 106px;
            margin-left: 0px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            text-align: center;
        }
        img{
            width: 150px;
            margin-left: 112px;
        }
        h5{
           
            left: 163px;
            top: 231px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 17px;
        }
        h6{
            
            margin-top: -15px;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 17px;
           
        }
    }
}