.about_page{
    margin: 0;
    padding: 0;
   
 
    img{
        position: relative;
        height: 653px;
        left: 606px;
        
    }
    h1{
        position: absolute;
        height: 159px;
        left: 191px;
        right: 821px;
       top: 100px;
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 48px;
        line-height: 53px;
        letter-spacing: 1px;
        span{
            font-weight: 400;
        }
        }
        h5{

            position: absolute;
            left: 191px;
            right: 872px;
            top: 340px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
        
            span{
                font-weight: 400;
                font-size: 17px;
                margin: 0 0 0 10px;
            }}
            .text-one{
                height: 50px;
                position: absolute;
                right: 852px;
                top: 400px;
                left: 191px;
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 19px;
                color: #747474;
            }
            h6{
                position: absolute;
            left: 191px;
            right: 872px;
            top: 470px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            span{
                font-weight: 400;
                font-size: 17px;
                margin: 0 0 0 10px;
            }
            }
            .text-two{
                height: 50px;
                position: absolute;
                right: 852px;
                top: 550px;
                left: 191px;
                font-family: 'Roboto';
                font-weight: 400;
                font-size: 19px;
                color: #747474;
            }
    

}